body {
    background-color: darkred;
    color: snow;
}

.home {
    margin-left: 10%;
}

.navigation {
    font-size: xx-large;
    font-style: italic;
}

.pro-link1 {
    font-size: large;
}

.pro-link1 {
    font-size: large;
}

.my_image {
    float: right;
    width: 250px;
    height: 300px;
    margin-right: 35%;
}

.about {
    margin-left: 10%;
}

.contact {
    margin-left: 10%;
}

.projects {
    margin-left: 10%;
}