{% extends "layout.html" %}
{% block content %}
    <div class="home">
        <h3 class="mt-5">Hello. I'm Shubham Joshi.</h3>
        <h3>I'm an aspiring <em><b>Backend Developer</b></em>.</h3>
        <br>
        <br>
        <h3>Skills acquired (so far):</h3>
        <select name="skills">
            <option value="python">Python</option>
            <option value="flask">Flask(Micro-Web Framework)</option>
            <option value="mysql">MySQL</option>
            <option value="dsa">DSA</option>
            <option value="git">Git/GitHub</option>
            <option value="api">REST API</option>
            <option value="basic">Basics of HTML, CSS</option>
            <option value="deploy">Deployment</option>
            <option value="more">More to come...</option>
        </select>
        <br>
        <br>
        <h3>Profiles:</h3>
        <a class="pro_link1" href="https://github.com/shubham010205" target="_blank"><b>GitHub</b></a><br>
        <a class="pro-link2" href="https://www.linkedin.com/in/shubham-joshi-6799a7251/" target="_blank"><b>Linkedin</b></a>
    </div>
{% endblock %}
