{% extends "layout.html" %}
{% block content %}
    <div class="projects">
        <h1 class="mt-5">My Projects:</h1>
        <p>(in addition this site)</p>
        <br><br>
        <ul>
            <h3><li>BlogPost: <a href="http://45.79.124.137/" target="_blank">Let's Wander</a></li></h3>
            <p>Steps involved:
                <ol>
                    <li>Creating a basic framework for the app using <b>Flask</b>.</li>
                    <li>Connecting the app object with a <b>MySQL</b> database.</li>
                    <li>Creating forms for account creation and login.</li>
                    <li>Giving users the options to add, update or delete a post.</li>
                    <li>Creating <b>REST API</b>.</li>
                    <li>Pushing the files in a <b>GitHub</b> repository. <strong><a href="https://github.com/shubham010205/Wander" target="_blank">(github repo)</a></strong></li>
                    <li>Deploying on a <b>Linux</b> server using <b>Nginx</b> and <b>Gunicorn</b>.</li>
                </ol>
            </p>
            <li>(more to come ...)</li>
        </ul>
    </div>
{% endblock content %}
